---
- name: Inspect init file
  ansible.builtin.include_tasks: inspect_init_file.yml

- name: Fail when raw init output is present but vault password missing
  ansible.builtin.fail:
    msg: >-
      Plain init output detected in {{ vault_foundational_init_file_path_effective }};
      vault_deploy_ansible_vault_pw is required to re-encrypt.
  when:
    - not vault_deploy_init_file_is_vault | bool
    - not vault_deploy_init_file_is_legacy | bool
    - vault_deploy_init_file_is_yaml | bool
    - vault_deploy_ansible_vault_pw | default('') | length == 0

- name: Re-encrypt raw init output on controller
  when:
    - not vault_deploy_init_file_is_vault | bool
    - not vault_deploy_init_file_is_legacy | bool
    - vault_deploy_init_file_is_yaml | bool
    - vault_deploy_ansible_vault_pw | default('') | length > 0
  no_log: true
  block:
    - name: Create controller bootstrap temp dir
      delegate_to: localhost
      ansible.builtin.tempfile:
        state: directory
        prefix: vault-bootstrap-
      register: vault_foundational_tmp

    - name: Create controller ansible config (empty)
      delegate_to: localhost
      ansible.builtin.copy:
        dest: "{{ vault_foundational_tmp.path }}/ansible.cfg"
        content: ""
        mode: "0600"

    - name: Write raw init output to controller temp dir
      delegate_to: localhost
      ansible.builtin.copy:
        dest: "{{ vault_foundational_tmp.path }}/vault-init.yml"
        content: "{{ vault_deploy_init_file_content }}"
        mode: "0600"

    - name: Write vault password file to controller temp dir
      delegate_to: localhost
      ansible.builtin.copy:
        dest: "{{ vault_foundational_tmp.path }}/.vault_deploy_pass"
        content: "{{ vault_deploy_ansible_vault_pw }}"
        mode: "0600"

    - name: Encrypt raw init output on controller
      delegate_to: localhost
      ansible.builtin.command: >-
        ansible-vault encrypt {{ vault_foundational_tmp.path }}/vault-init.yml
        --output {{ vault_foundational_tmp.path }}/vault-init.yml.vault
      changed_when: true
      environment:
        ANSIBLE_CONFIG: "{{ vault_foundational_tmp.path }}/ansible.cfg"
        ANSIBLE_VAULT_PASSWORD_FILE: "{{ vault_foundational_tmp.path }}/.vault_deploy_pass"

    - name: Copy re-encrypted init file to target
      ansible.builtin.copy:
        src: "{{ vault_foundational_tmp.path }}/vault-init.yml.vault"
        dest: "{{ vault_foundational_init_file_path_effective }}"
        owner: root
        group: root
        mode: "0600"
        force: true
        decrypt: false

    - name: Cleanup controller temp dir
      delegate_to: localhost
      ansible.builtin.file:
        path: "{{ vault_foundational_tmp.path }}"
        state: absent
