apiVersion: v1
kind: Pod
metadata:
  name: {{ alertmanager_deploy_pod_name }}
  labels:
    app: {{ alertmanager_deploy_pod_name }}
spec:
  containers:
    - name: {{ alertmanager_deploy_container_name }}
      image: {{ alertmanager_deploy_image }}
      args:
        - "--config.file={{ alertmanager_deploy_container_config_path }}"
        - "--storage.path={{ alertmanager_deploy_container_data_dir }}"
        - "--web.listen-address=0.0.0.0:{{ alertmanager_deploy_container_port }}"
        - "--cluster.listen-address=0.0.0.0:{{ alertmanager_deploy_cluster_port }}"
{% for arg in alertmanager_deploy_extra_args %}
        - "{{ arg }}"
{% endfor %}
{% if alertmanager_deploy_env_extra | length > 0 %}
      env:
{% for env_name, env_value in alertmanager_deploy_env_extra | dictsort %}
        - name: {{ env_name }}
          value: {{ env_value | string | to_json }}
{% endfor %}
{% endif %}
      ports:
        - containerPort: {{ alertmanager_deploy_container_port }}
          hostPort: {{ alertmanager_deploy_port }}
          hostIP: {{ alertmanager_deploy_host_ip }}
          protocol: TCP
      volumeMounts:
        - name: alertmanager-config
          mountPath: {{ alertmanager_deploy_container_config_path }}
        - name: alertmanager-data
          mountPath: {{ alertmanager_deploy_container_data_dir }}

  volumes:
    - name: alertmanager-config
      hostPath:
        path: {{ alertmanager_deploy_config_path }}
        type: File
    - name: alertmanager-data
      hostPath:
        path: {{ alertmanager_deploy_data_dir }}
        type: DirectoryOrCreate
