---
# Core role toggles
openvpn_experimental_acknowledge: false
openvpn_uninstall: false
openvpn_sync_certs: false

# Derived names
openvpn_config_file: "openvpn_{{ openvpn_proto }}_{{ openvpn_port }}"

# Networking
openvpn_client_to_client: true
openvpn_custom_dns: []
openvpn_dns_servers: []
openvpn_dualstack: false
openvpn_keepalive_ping: 5
openvpn_keepalive_timeout: 30
openvpn_port: 1194
openvpn_proto: tcp
openvpn_redirect_gateway: false
openvpn_resolv_retry: 5
openvpn_server_hostname: "{{ inventory_hostname }}"
openvpn_server_netmask: 255.255.255.0
openvpn_server_network: 10.10.200.0
openvpn_ifconfig_pool: >-
  10.10.200.100 10.10.200.200 {{ openvpn_server_netmask }}
openvpn_set_dns: false
openvpn_tun_mtu:
openvpn_server_routes:

# Security
openvpn_auth_alg: SHA512
openvpn_cipher: AES-256-CBC
openvpn_duplicate_cn: false
openvpn_rsa_bits: 2048
openvpn_use_crl: false
openvpn_use_hardened_tls: true
openvpn_use_modern_tls: true
openvpn_use_pregenerated_dh_params: false
openvpn_verify_cn: false
openvpn_tls_auth_required: true
openvpn_script_security: 1

# Role operation defaults
openvpn_clients: []
openvpn_base_dir: /etc/openvpn
openvpn_key_dir: /etc/openvpn/keys
openvpn_ovpn_dir: "{{ openvpn_base_dir }}"

# Config fetch settings
openvpn_fetch_client_configs: true
openvpn_fetch_client_configs_dir: /tmp/ansible
openvpn_fetch_client_configs_suffix: ""

# Firewall
openvpn_firewalld_default_interface_zone: public
openvpn_iptables_service: iptables
openvpn_manage_firewall_rules: true
openvpn_firewall: auto
openvpn_masquerade_not_snat: false

# Misc
openvpn_client_config_no_log: true
openvpn_revoke_these_certs: []
openvpn_service_name: openvpn

# Operations
openvpn_addl_client_options: []
openvpn_addl_server_options: []
openvpn_enable_management: false
openvpn_ifconfig_pool_persist_file: ipp.txt
openvpn_management_bind: /var/run/openvpn/management unix
openvpn_management_client_user: root
openvpn_push: []
openvpn_status_version: 1

# Client config - settings the server will push
openvpn_client_config: false
openvpn_client_config_dir: ccd
openvpn_client_configs: {}
openvpn_vpn_server: "{{ groups.vpn_server[0] }}"

# OpenVPN relay client
openvpn_relay_client_config_name:

# Packaging defaults
openvpn_epel_package_name: >-
  https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
openvpn_openssl_package_name: openssl
openvpn_package_name: openvpn
openvpn_auth_ldap_package: openvpn-auth-ldap

# Logrotate configuration
openvpn_log_dir: /var/log
openvpn_log_file: openvpn.log
openvpn_logrotate_config: |
  rotate 4
  weekly
  missingok
  notifempty
  sharedscripts
  copytruncate
  delaycompress
