---
# handlers file for openvpn
- name: Restart openvpn
  ansible.builtin.service:
    name: "{{ openvpn_service_name }}"
    state: restarted

- name: Restart firewalld
  ansible.builtin.service:
    name: firewalld
    state: restarted
