---
- name: Ensure Terraform working directory exists
  ansible.builtin.file:
    path: "{{ keycloak_tf_workdir }}"
    state: directory
    mode: "0755"

- name: Clear previous Terraform state in working directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ keycloak_tf_workdir }}/.terraform"
    - "{{ keycloak_tf_workdir }}/terraform.tfstate"
    - "{{ keycloak_tf_workdir }}/terraform.tfstate.backup"
  when: keycloak_tf_clean_state
  changed_when: false
