---
extends: default

ignore: |
  deploy/incus/profiles/rhel9.yml
  deploy/incus/profiles/rhel10.yml

rules:
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
