[Unit]
Description=Apache Guacamole Podman application pod
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/podman kube down {{ guacamole_deploy_manifest_path }}
ExecStart=/usr/bin/podman kube play {{ guacamole_deploy_manifest_path }}
ExecStop=/usr/bin/podman kube down {{ guacamole_deploy_manifest_path }}
TimeoutStartSec=300
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
