apiVersion: v1
kind: Pod
metadata:
  name: {{ loki_deploy_pod_name }}
  labels:
    app: {{ loki_deploy_pod_name }}
spec:
  containers:
    - name: {{ loki_deploy_container_name }}
      image: {{ loki_deploy_image }}
      args:
        - -config.file={{ loki_deploy_container_config_file }}
{% for arg in loki_deploy_extra_args %}
        - {{ arg }}
{% endfor %}
      ports:
        - containerPort: {{ loki_deploy_port }}
          hostPort: {{ loki_deploy_port }}
          hostIP: {{ loki_deploy_host_ip }}
{% if loki_deploy_env_extra | length > 0 %}
      env:
{% for key, value in loki_deploy_env_extra.items() %}
        - name: {{ key }}
          value: "{{ value }}"
{% endfor %}
{% endif %}
      volumeMounts:
        - name: loki-config
          mountPath: {{ loki_deploy_container_config_file }}
        - name: loki-data
          mountPath: {{ loki_deploy_container_data_dir }}
  volumes:
    - name: loki-config
      hostPath:
        path: {{ loki_deploy_config_file }}
        type: File
    - name: loki-data
      hostPath:
        path: {{ loki_deploy_host_data_dir }}
        type: DirectoryOrCreate
