apiVersion: v1
kind: Pod
metadata:
  name: {{ coredns_deploy_pod_name }}
  labels:
    app: coredns
spec:
{% if coredns_deploy_use_host_network | bool %}
  hostNetwork: true
{% endif %}
  containers:
    - name: coredns
      image: {{ coredns_deploy_image }}
      args:
        - -conf
        - {{ coredns_deploy_container_corefile_path }}
      ports:
        - containerPort: {{ coredns_deploy_dns_port }}
{% if not (coredns_deploy_use_host_network | bool) %}
          hostPort: {{ coredns_deploy_host_dns_port }}
          hostIP: {{ coredns_deploy_host_ip }}
{% endif %}
          protocol: UDP
        - containerPort: {{ coredns_deploy_dns_port }}
{% if not (coredns_deploy_use_host_network | bool) %}
          hostPort: {{ coredns_deploy_host_dns_port }}
          hostIP: {{ coredns_deploy_host_ip }}
{% endif %}
          protocol: TCP
        - containerPort: {{ coredns_deploy_health_port }}
{% if not (coredns_deploy_use_host_network | bool) %}
          hostPort: {{ coredns_deploy_host_health_port }}
          hostIP: {{ coredns_deploy_host_ip }}
{% endif %}
          protocol: TCP
      securityContext:
        runAsUser: {{ coredns_deploy_run_as_user }}
        runAsGroup: {{ coredns_deploy_run_as_group }}
        runAsNonRoot: {{ coredns_deploy_run_as_non_root | bool | ternary('true', 'false') }}
      volumeMounts:
        - name: coredns-corefile
          mountPath: {{ coredns_deploy_container_corefile_path }}
          readOnly: true
  volumes:
    - name: coredns-corefile
      hostPath:
        path: {{ coredns_deploy_host_corefile_path }}
        type: File
      selinuxRelabel: true
