---
- name: Recreate minio pod
  ansible.builtin.set_fact:
    minio_deploy_kubeplay_remove: true
  changed_when: false
  when: not minio_deploy_skip_runtime | bool

- name: Run minio pod
  ansible.builtin.set_fact:
    minio_deploy_kubeplay_run: true
  changed_when: false
  when: not minio_deploy_skip_runtime | bool
