storage "file" {
  path = "/vault/data"
}

listener "tcp" {
  address     = "0.0.0.0:{{ vau_port }}"
  tls_cert_file = "/vault/certs/vault.crt"
  tls_key_file  = "/vault/certs/vault.key"
}

ui            = true
disable_mlock = true
api_addr      = "https://127.0.0.1:{{ vau_port }}"
