apiVersion: v1
kind: Pod
metadata:
  name: {{ vault_pod_name }}
  labels:
    app: vault
spec:
  containers:
    - name: vault
      image: {{ vault_image }}
      args:
        - "server"
      ports:
        - containerPort: {{ vault_port }}
          hostPort: {{ vault_port }}
          hostIP: {{ vault_host_ip }}
      env:
        - name: VAULT_ADDR
          value: "https://0.0.0.0:{{ vault_port }}"
      securityContext:
        capabilities:
          add:
            - CAP_IPC_LOCK
      volumeMounts:
        - name: data
          mountPath: /vault/data
        - name: certs
          mountPath: /vault/certs
        - name: vault-config
          mountPath: /vault/config
  volumes:
    - name: data
      hostPath:
        path: {{ vault_data_dir }}
        type: Directory
    - name: vault-config
      hostPath:
        path: "{{ vault_config_dir }}"
        type: DirectoryOrCreate
    - name: certs
      hostPath:
        path: {{ vault_cert_dir }}
        type: Directory
