apiVersion: v1
kind: Pod
metadata:
  name: {{ semaphore_deploy_pod_name }}
  labels:
    app: {{ semaphore_deploy_pod_name }}
spec:
  containers:
    - name: {{ semaphore_deploy_container_name }}
      image: {{ semaphore_deploy_image }}
      ports:
        - containerPort: {{ semaphore_deploy_port }}
          hostPort: {{ semaphore_deploy_port }}
          hostIP: {{ semaphore_deploy_host_ip }}
      env:
        - name: SEMAPHORE_DB_DIALECT
          value: "{{ semaphore_deploy_db_dialect }}"
        - name: SEMAPHORE_DB_HOST
          value: "{{ semaphore_deploy_db_host }}"
        - name: SEMAPHORE_DB_PORT
          value: "{{ semaphore_deploy_db_port }}"
        - name: SEMAPHORE_DB_NAME
          value: "{{ semaphore_deploy_db_name }}"
        - name: SEMAPHORE_DB_USER
          value: "{{ semaphore_deploy_db_user }}"
        - name: SEMAPHORE_DB_PASS
          value: "{{ semaphore_deploy_db_password_effective }}"
        - name: SEMAPHORE_PLAYBOOK_PATH
          value: "{{ semaphore_deploy_container_playbook_path }}"
        - name: SEMAPHORE_ADMIN
          value: "{{ semaphore_deploy_admin_login }}"
        - name: SEMAPHORE_ADMIN_PASSWORD
          value: "{{ semaphore_deploy_admin_password_effective }}"
        - name: SEMAPHORE_ADMIN_NAME
          value: "{{ semaphore_deploy_admin_name }}"
        - name: SEMAPHORE_ADMIN_EMAIL
          value: "{{ semaphore_deploy_admin_email }}"
        - name: SEMAPHORE_ACCESS_KEY_ENCRYPTION
          value: "{{ semaphore_deploy_access_key_encryption_effective }}"
{% if semaphore_deploy_web_root | default('', true) | trim | length > 0 %}
        - name: SEMAPHORE_WEB_ROOT
          value: "{{ semaphore_deploy_web_root | trim }}"
{% endif %}
{% if semaphore_deploy_env_extra is defined and semaphore_deploy_env_extra | length > 0 %}
{% for key, value in semaphore_deploy_env_extra.items() %}
        - name: {{ key }}
          value: "{{ value }}"
{% endfor %}
{% endif %}
      volumeMounts:
        - name: semaphore-data
          mountPath: {{ semaphore_deploy_container_data_dir }}

  volumes:
    - name: semaphore-data
      hostPath:
        path: {{ semaphore_deploy_host_data_dir }}
        type: DirectoryOrCreate
