{{ nex_nexus_hostname }} {
    encode gzip
    reverse_proxy 127.0.0.1:8081
    tls /etc/caddy/certs/{{ nex_nexus_hostname }}.pem /etc/caddy/certs/{{ nex_nexus_hostname }}.key {
      ca /etc/caddy/certs/ca.crt
    }
}
