---
apiVersion: v1
kind: Pod
metadata:
  name: {{ nexus_pod_name }}
spec:
  containers:
  - name: nexus
    image: {{ nexus_nexus_image }}
    ports:
    - containerPort: 8081
    volumeMounts:
    - mountPath: /nexus-data
      name: nexus-data
      readOnly: false

  - name: caddy
    image: {{ nexus_caddy_image }}
    ports:
    - containerPort: 443
      hostPort: 443
      hostIP: {{ nexus_nexus_host_ip }}
    volumeMounts:
    - mountPath: /etc/caddy/Caddyfile
      subPath: Caddyfile-ssl
      name: caddy-config
    - mountPath: /etc/caddy/certs
      name: caddy-certs

  volumes:
  - name: nexus-data
    hostPath:
      path: {{ nexus_nexus_data_dir }}
      type: DirectoryOrCreate
    selinuxRelabel: true

  - name: caddy-config
    hostPath:
      path: {{ nexus_caddy_config_dir }}
      type: DirectoryOrCreate
    selinuxRelabel: true

  - name: caddy-certs
    hostPath:
      path: {{ nexus_caddy_certs_dir }}
      type: DirectoryOrCreate
    selinuxRelabel: true
