---
- name: Manage vault systemd unit
  when:
    - vault_deploy_manage_systemd | bool
    - (ansible_service_mgr | default(ansible_facts.service_mgr | default(''))) == 'systemd'
  tags:
    - systemd
  block:
    - name: Escape kube play manifest path
      ansible.builtin.command:
        cmd: "systemd-escape {{ vault_deploy_pod_manifest_path }}"
      register: vault_deploy_systemd_name
      changed_when: false

    - name: Enable and start Podman kube systemd unit
      ansible.builtin.systemd:
        name: "podman-kube@{{ vault_deploy_systemd_name.stdout }}.service"
        enabled: true
        state: started

    - name: Wait until Vault API is reachable via HTTPS
      ansible.builtin.uri:
        url: "{{ vault_deploy_health_url }}"
        method: GET
        validate_certs: "{{ vault_deploy_vault_validate_certs }}"
      register: vault_deploy_health
      until: vault_deploy_health.status in [200, 429, 472, 473, 501, 503]
      retries: 30               # 30 Versuche
      delay: 5                  # alle 5 Sekunden neu probieren
      changed_when: false
      failed_when: vault_deploy_health is failed and vault_deploy_health.status not in [200, 429, 472, 473, 501, 503]
