---
- name: Recreate vault pod
  ansible.builtin.command: podman pod rm -f vault
  register: rm_pod
  failed_when: rm_pod.rc not in [0,125]
  changed_when: "'deleted' in rm_pod.stdout"
  ignore_errors: true

- name: Run vault pod
  ansible.builtin.command:
    cmd: "podman kube play {{ vault_deploy_pod_manifest_path }}"
  register: pod_start
  changed_when: "'created' in pod_start.stdout or 'configured' in pod_start.stdout"
