---
- name: Derive ESXi host password for vCenter operations
  ansible.builtin.set_fact:
    manage_esxi_host_password: >-
      {{
        (
          manage_esxi_current_auth_ok | default(false)
        )
          | ternary(
              manage_esxi_password,
              (
                manage_esxi_initial_auth_ok | default(false)
              )
                | ternary(manage_esxi_initial_password, manage_esxi_host_password | default(manage_esxi_password, true))
            )
      }}
  when: manage_esxi_host_password | length == 0
  tags:
    - always

- name: Gather available vCenter datacenters
  community.vmware.vmware_datacenter_info:
    hostname: '{{ manage_esxi_vcenter_hostname }}'
    username: '{{ manage_esxi_vcenter_username }}'
    password: '{{ manage_esxi_vcenter_password }}'
    validate_certs: '{{ manage_esxi_validate_certs }}'
  delegate_to: localhost
  register: manage_esxi_datacenters
  tags:
    - always

- name: Derive available datacenter names
  ansible.builtin.set_fact:
    manage_esxi_datacenter_names: >-
      {{
        (
          manage_esxi_datacenters.datacenter_info | default([])
        )
          | map(attribute='name')
          | list
      }}
  tags:
    - always

- name: Determine datacenter to use
  ansible.builtin.set_fact:
    manage_esxi_datacenter_effective: "{{ manage_esxi_datacenter_name | default('') | string }}"
  when: (manage_esxi_datacenter_name | default('') | string | length) > 0
  tags:
    - always

- name: Default datacenter when only one is available
  ansible.builtin.set_fact:
    manage_esxi_datacenter_effective: "{{ (manage_esxi_datacenter_names | default([]))[0] }}"
  when:
    - (manage_esxi_datacenter_effective | default('') | length) == 0
    - (manage_esxi_datacenter_names | default([]) | length) == 1
  tags:
    - always

- name: Fail when requested datacenter is missing
  ansible.builtin.fail:
    msg: >-
      Requested datacenter '{{ manage_esxi_datacenter_name | default('') }}' not found.
      Available datacenters: {{ manage_esxi_datacenter_names | default([]) }}.
  when:
    - (manage_esxi_datacenter_name | default('')) | length > 0
    - manage_esxi_datacenter_name not in manage_esxi_datacenter_names
  tags:
    - always

- name: Fail when datacenter cannot be determined
  ansible.builtin.fail:
    msg: "No datacenter determined. Please set manage_esxi_datacenter_name."
  when: manage_esxi_datacenter_effective | default('') | length == 0
  tags:
    - always

- name: Add ESXi Host to vCenter
  community.vmware.vmware_host:
    hostname: '{{ manage_esxi_vcenter_hostname }}'
    username: '{{ manage_esxi_vcenter_username }}'
    password: '{{ manage_esxi_vcenter_password }}'
    validate_certs: '{{ manage_esxi_validate_certs }}'
    esxi_hostname: '{{ manage_esxi_hostname }}'
    esxi_username: '{{ manage_esxi_username }}'
    esxi_password: '{{ manage_esxi_host_password | default(manage_esxi_password) }}'
    datacenter: '{{ manage_esxi_datacenter_effective }}'
    cluster: '{{ manage_esxi_cluster_name }}'
    state: present
  delegate_to: localhost

- name: Add ESXi license and assign to the ESXi host
  community.vmware.vcenter_license:
    hostname: '{{ manage_esxi_vcenter_hostname }}'
    username: '{{ manage_esxi_vcenter_username }}'
    password: '{{ manage_esxi_vcenter_password }}'
    validate_certs: '{{ manage_esxi_validate_certs }}'
    esxi_hostname: '{{ manage_esxi_hostname }}'
    license: '{{ manage_esxi_license }}'
    state: present
  delegate_to: localhost

- name: Manage multiple settings for ESXi host
  community.vmware.vmware_host_config_manager:
    hostname: '{{ manage_esxi_vcenter_hostname }}'
    username: '{{ manage_esxi_vcenter_username }}'
    password: '{{ manage_esxi_vcenter_password }}'
    validate_certs: '{{ manage_esxi_validate_certs }}'
    esxi_hostname: '{{ manage_esxi_hostname }}'
    options: '{{ manage_esxi_options }}'
  delegate_to: localhost

- name: Manage services for ESXi host
  community.vmware.vmware_host_service_manager:
    hostname: '{{ manage_esxi_vcenter_hostname }}'
    username: '{{ manage_esxi_vcenter_username }}'
    password: '{{ manage_esxi_vcenter_password }}'
    validate_certs: '{{ manage_esxi_validate_certs }}'
    esxi_hostname: '{{ manage_esxi_hostname }}'
    service_name: '{{ item.value.service_name }}'
    state: '{{ item.value.state }}'
    service_policy: '{{ item.value.service_policy }}'
  with_dict: '{{ manage_esxi_services }}'
  delegate_to: localhost
