---
- name: Add ESXi Host to vCenter
  community.vmware.vmware_host:
    hostname: '{{ manage_esxi_vcenter_hostname }}'
    username: '{{ manage_esxi_vcenter_username }}'
    password: '{{ manage_esxi_vcenter_password }}'
    validate_certs: '{{ manage_esxi_validate_certs }}'
    esxi_hostname: '{{ manage_esxi_hostname }}'
    esxi_username: '{{ manage_esxi_username }}'
    esxi_password: '{{ manage_esxi_password }}'
    datacenter: '{{ manage_esxi_datacenter_name }}'
    cluster: '{{ manage_esxi_cluster_name }}'
    state: present
  delegate_to: localhost

- name: Add ESXi license and assign to the ESXi host
  community.vmware.vcenter_license:
    hostname: '{{ manage_esxi_vcenter_hostname }}'
    username: '{{ manage_esxi_vcenter_username }}'
    password: '{{ manage_esxi_vcenter_password }}'
    validate_certs: '{{ manage_esxi_validate_certs }}'
    esxi_hostname: '{{ manage_esxi_hostname }}'
    license: '{{ manage_esxi_license }}'
    state: present
  delegate_to: localhost

- name: Manage multiple settings for ESXi host
  vmware_host_config_manager:
    hostname: '{{ manage_esxi_vcenter_hostname }}'
    username: '{{ manage_esxi_vcenter_username }}'
    password: '{{ manage_esxi_vcenter_password }}'
    validate_certs: '{{ manage_esxi_validate_certs }}'
    esxi_hostname: '{{ manage_esxi_hostname }}'
    options: '{{ manage_esxi_options }}'
  delegate_to: localhost

- name: Manage services for ESXi host
  community.vmware.vmware_host_service_manager:
    hostname: '{{ manage_esxi_vcenter_hostname }}'
    username: '{{ manage_esxi_vcenter_username }}'
    password: '{{ manage_esxi_vcenter_password }}'
    validate_certs: '{{ manage_esxi_validate_certs }}'
    esxi_hostname: '{{ manage_esxi_hostname }}'
    service_name: '{{ item.value.service_name }}'
    state: '{{ item.value.state }}'
    service_policy: '{{ item.value.service_policy }}'
  with_dict: '{{ manage_esxi_services }}'
  delegate_to: localhost
