---
- name: Manage IP and network based firewall permissions for ESXi
  community.vmware.vmware_host_firewall_manager:
    hostname: "{{ manage_esxi_connection_hostname }}"
    username: "{{ manage_esxi_username }}"
    password: "{{ manage_esxi_host_password | default(manage_esxi_password) }}"
    validate_certs: "{{ manage_esxi_validate_certs }}"
    esxi_hostname: "{{ manage_esxi_hostname }}"
    rules: "{{ manage_esxi_firewall_rules }}"
  delegate_to: localhost
  when: (manage_esxi_firewall_rules | default([])) | length > 0
