---
- name: Manage IP and network based firewall permissions for ESXi
  community.vmware.vmware_host_firewall_manager:
    hostname: "{{ manage_esxi_vcenter_hostname }}"
    username: "{{ manage_esxi_vcenter_username }}"
    password: "{{ manage_esxi_vcenter_password }}"
    validate_certs: "{{ manage_esxi_validate_certs }}"
    esxi_hostname: "{{ manage_esxi_hostname }}"
    rules: "{{ manage_esxi_firewall_rules }}"
  delegate_to: localhost
