---

- name: Skip manage_esxi in stub mode
  ansible.builtin.meta: end_play
  when: manage_esxi_stub_mode | bool

- name: Preconfigure base ESXi
  ansible.builtin.include_tasks: preconfig.yml

- name: Configure portgroups
  ansible.builtin.include_tasks: portgroups.yml

- name: Setup base ESXi
  ansible.builtin.include_tasks: base.yml

- name: Configure firewall
  ansible.builtin.include_tasks: firewall.yml

- name: Manage users
  ansible.builtin.include_tasks: users.yml

# TODO:
# - name: Mount VMFS datastores to ESXi
