---
- name: Recreate kea pod
  ansible.builtin.command: "podman pod rm -f {{ kea_deploy_pod_name }}"
  register: kea_deploy_pod_remove
  failed_when: kea_deploy_pod_remove.rc not in [0, 125]
  changed_when: "'deleted' in kea_deploy_pod_remove.stdout"
  ignore_errors: true
  when: not kea_deploy_skip_runtime | bool

- name: Run kea pod
  ansible.builtin.command:
    cmd: "podman kube play {{ kea_deploy_pod_manifest_path }}"
  register: kea_deploy_pod_start
  changed_when: "'created' in kea_deploy_pod_start.stdout or 'configured' in kea_deploy_pod_start.stdout"
  when: not kea_deploy_skip_runtime | bool

- name: Reload kea
  ansible.builtin.command: "podman pod restart {{ kea_deploy_pod_name }}"
  register: kea_deploy_reload
  changed_when: kea_deploy_reload.rc == 0
  failed_when: kea_deploy_reload.rc != 0
  when: not kea_deploy_skip_runtime | bool
