---
- name: Reload coredns
  ansible.builtin.command: "podman pod restart {{ coredns_deploy_pod_name }}"
  register: coredns_deploy_reload
  changed_when: coredns_deploy_reload.rc == 0
  failed_when: coredns_deploy_reload.rc != 0
  when: not coredns_deploy_skip_runtime | bool
