---
- name: Ensure all needed vars are present
  ansible.builtin.include_tasks: assert.yml
  tags:
    - always

- name: Ensure required packages are installed
  ansible.builtin.include_tasks: install_packages.yml
  tags:
    - install

- name: Include PKI certificate generation
  ansible.builtin.include_tasks: vault_pki.yml
  when: nex_use_vault_pki
  tags:
    - vault_pki

- name: Deploy Nexus Pod
  ansible.builtin.include_tasks: deploy_pod.yml
  tags:
    - deployment

- name: Install systemd unit for Nexus Pod
  ansible.builtin.include_tasks: systemd.yml
  tags:
    - systemd

- name: Configuration via api
  ansible.builtin.include_tasks: initial_config.yml
  tags:
    - sonatype_nexus_config
