apiVersion: 1

datasources:
  - name: {{ grafana_deploy_loki_datasource_name | to_json }}
    uid: {{ grafana_deploy_loki_datasource_uid | to_json }}
    type: loki
    access: proxy
    url: {{ grafana_deploy_loki_url | to_json }}
    isDefault: true
    editable: true
    jsonData:
      maxLines: 1000
