---
- name: Check Vault initialization status
  ansible.builtin.command:
    cmd: >-
      podman exec vault-{{ vault_pod_name }} env VAULT_ADDR=https://127.0.0.1:8200
      vault status -format=json -tls-skip-verify
  register: vault_status
  failed_when: false
  changed_when: false
  tags:
    - init

- name: Parse Vault status
  ansible.builtin.set_fact:
    vault_initialized: >-
      {{
        (
          (vault_status.stdout | default('') | length > 0)
          and ((vault_status.stdout | from_json).initialized | default(false))
        )
      }}
  when: vault_status is defined
  tags:
    - init

- name: Initialize Vault if not initialized
  ansible.builtin.command:
    cmd: >-
      podman exec vault-{{ vault_pod_name }} env VAULT_ADDR=https://127.0.0.1:8200
      vault operator init -format=json -tls-skip-verify
  changed_when: true
  register: vault_init_result
  when: not vault_initialized | default(false)
  no_log: true
  tags:
    - init

- name: Store vault-init encrypted
  when: not vault_initialized | default(false)
  delegate_to: localhost
  tags:
    - init
  block:
    - name: Write vault password to a temporary file
      ansible.builtin.copy:
        content: "{{ vault_ansible_vault_pw }}"
        dest: "{{ playbook_dir }}/vault_pw.txt"
        mode: "0600"
      no_log: true

    - name: Encrypt unseal keys JSON and save to variable
      ansible.builtin.command:
        cmd: >-
          ansible-vault encrypt_string --vault-password-file {{ playbook_dir }}/vault_pw.txt
          '{{ vault_init_result.stdout }}' --name 'vault_unseal_keys_encrypted'
      register: encrypted_unseal_keys_json
      changed_when: true
      no_log: true

    - name: Remove temporary vault password file
      ansible.builtin.file:
        path: "{{ playbook_dir }}/vault_pw.txt"
        state: absent

    - name: Ensure host_vars directory exists
      ansible.builtin.file:
        path: "{{ vault_init_path }}"
        state: directory
        mode: '0755'

    - name: Write Vault init file locally
      ansible.builtin.copy:
        dest: "{{ vault_init_path }}/vault-init.yml"
        content: "{{ encrypted_unseal_keys_json.stdout }}"
        mode: "0600"
      notify:
        - Reload vault_unseal_keys_encrypted vars
        - Write root_token to file

    - name: Flush handlers
      ansible.builtin.meta: flush_handlers
