---
- name: Run terragrunt to configure vault
  vars:
    terragrunt_template: "{{ vault_terragrunt_template }}"
  ansible.builtin.include_role:
    name: terragrunt
  tags:
    - terragrunt_validate
    - terragrunt_plan
    - terragrunt_apply
