---
- name: Ensure all required vars are defined
  ansible.builtin.include_tasks: assert.yml
  tags: always

- name: Skip vault runtime tasks
  ansible.builtin.debug:
    msg: "vault runtime tasks skipped (vault_skip_runtime=true)."
  when: vault_skip_runtime | bool
  tags: always

- name: Run vault runtime tasks
  ansible.builtin.include_tasks: runtime.yml
  when: not vault_skip_runtime | bool
  tags: always
