---
- name: Escape kube play manifest path
  ansible.builtin.command:
    cmd: "systemd-escape {{ vau_pod_manifest_path }}"
  register: vau_systemd_name
  changed_when: false
  tags:
    - systemd

- name: Enable and start Podman kube systemd unit
  ansible.builtin.systemd:
    name: "podman-kube@{{ vau_systemd_name.stdout }}.service"
    enabled: true
    state: started
    daemon_reload: true
  tags:
    - systemd

- name: Wait until Vault API is reachable via HTTPS
  ansible.builtin.uri:
    url: "https://{{ vau_host_ip }}:{{ vau_port }}/v1/sys/health"
    method: GET
    validate_certs: false
  register: vault_health
  until: vault_health.status in [200, 429, 472, 473, 501, 503]
  retries: 30               # 30 Versuche
  delay: 5                  # alle 5 Sekunden neu probieren
  changed_when: false
  failed_when: vault_health is failed and vault_health.status not in [200, 429, 472, 473, 501, 503]
  tags:
    - systemd
