---
- name: Wait until Vault API is reachable via HTTPS
  ansible.builtin.uri:
    url: "https://{{ vault_host_ip }}:{{ vault_port }}/v1/sys/health"
    method: GET
    validate_certs: false
  register: vault_health
  until: vault_health.status in [200, 429, 472, 473, 501, 503]
  retries: 30               # 30 Versuche
  delay: 5                  # alle 5 Sekunden neu probieren
  changed_when: false
  failed_when: vault_health is failed and vault_health.status not in [200, 429, 472, 473, 501, 503]
  tags:
    - unseal

- name: Read init file
  delegate_to: localhost
  ansible.builtin.set_fact:
    vault_init_data: "{{ vault_unseal_keys_encrypted | from_json }}"
  tags:
    - unseal

- name: Parse unseal keys
  ansible.builtin.set_fact:
    vault_unseal_keys: "{{ vault_init_data.unseal_keys_b64 }}"
  tags:
    - unseal

- name: Check Vault initialization status
  ansible.builtin.command:
    cmd: >-
      podman exec vault-{{ vault_pod_name }} env VAULT_ADDR=https://127.0.0.1:8200
      vault status -format=json -tls-skip-verify
  register: vault_status
  failed_when: false
  changed_when: false
  tags:
    - unseal

- name: Parse Vault status
  ansible.builtin.set_fact:
    vault_sealed: >-
      {{
        (
          (vault_status.stdout | default('') | length > 0)
          and ((vault_status.stdout | from_json).sealed | default(false))
        )
      }}
  when: vault_status is defined
  tags:
    - unseal

- name: Unseal Vault
  loop: "{{ vault_unseal_keys }}"
  ansible.builtin.command:
    cmd: >-
      podman exec vault-{{ vault_pod_name }} env VAULT_ADDR=https://127.0.0.1:8200
      vault operator unseal -tls-skip-verify {{ item }}
  changed_when: true
  register: vault_unseal_results
  until: vault_unseal_results.rc == 0
  retries: 5
  delay: 2
  when: vault_sealed | default(true)
  no_log: true
  tags:
    - unseal
