---
- name: Ensure Kea host config directories exist
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner | default(kea_deploy_run_as_user) }}"
    group: "{{ item.group | default(kea_deploy_run_as_group) }}"
    mode: "{{ item.mode }}"
  loop:
    - path: "{{ kea_deploy_host_config_dir }}"
      mode: '0755'
    - path: "{{ kea_deploy_host_data_dir }}"
      mode: '0755'
    - path: "{{ kea_deploy_pod_manifest_path | dirname }}"
      owner: root
      group: root
      mode: '0755'
  when: item.path | default('') | length > 0
  tags:
    - deployment

- name: Detect SELinux status
  ansible.builtin.command: getenforce
  register: selinux_status
  changed_when: false
  failed_when: false
  when:
    - ansible_distribution in ['RedHat', 'CentOS']
    - kea_deploy_selinux_relabel | bool

- name: Check SELinux context for Kea mounts
  ansible.builtin.stat:
    path: "{{ item }}"
  loop:
    - "{{ kea_deploy_host_config_dir }}"
  register: kea_deploy_selinux_contexts
  changed_when: false
  failed_when: false
  tags:
    - deployment
  when:
    - ansible_distribution in ['RedHat', 'CentOS']
    - kea_deploy_selinux_relabel | bool
    - selinux_status.stdout is defined
    - selinux_status.stdout != 'Disabled'
    - item | length > 0

- name: Apply SELinux context
  ansible.builtin.command: >-
    chcon -Rt container_file_t {{ kea_deploy_selinux_relabel_targets | join(' ') }}
  register: kea_deploy_selinux_relabel_cmd
  changed_when: kea_deploy_selinux_type_missing | bool
  notify:
    - Recreate kea pod
    - Run kea pod
  tags:
    - deployment
  when:
    - ansible_distribution in ['RedHat', 'CentOS']
    - kea_deploy_selinux_relabel | bool
    - selinux_status.stdout is defined
    - selinux_status.stdout != 'Disabled'
    - kea_deploy_selinux_contexts is defined
    - kea_deploy_selinux_contexts.results is defined
    - kea_deploy_selinux_relabel_targets | length > 0
    - kea_deploy_selinux_type_missing | bool
  vars:
    kea_deploy_selinux_contexts_defined: >-
      {{
        kea_deploy_selinux_contexts.results
        | selectattr('stat.selinux_context', 'defined')
        | list
      }}
    kea_deploy_selinux_type_missing: >-
      {{
        (kea_deploy_selinux_contexts_defined
         | rejectattr('stat.selinux_context', 'search', 'container_file_t')
         | list
         | length)
        > 0
      }}
    kea_deploy_selinux_relabel_targets: >-
      {{
        [kea_deploy_host_config_dir, kea_deploy_host_data_dir]
        | reject('equalto', '')
        | list
      }}

- name: Render Kea DHCPv4 config
  ansible.builtin.template:
    src: kea-dhcp4.conf.j2
    dest: "{{ kea_deploy_host_config_path }}"
    owner: "{{ kea_deploy_run_as_user }}"
    group: "{{ kea_deploy_run_as_group }}"
    mode: '0644'
  notify: Reload kea
  tags:
    - config

- name: Render Kea Pod manifest
  ansible.builtin.template:
    src: kea-pod.yml.j2
    dest: "{{ kea_deploy_pod_manifest_path }}"
    mode: '0644'
  notify:
    - Recreate kea pod
    - Run kea pod
  tags:
    - deployment

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
  tags:
    - deployment
