---
- name: Recreate coredns pod
  ansible.builtin.set_fact:
    coredns_deploy_kubeplay_remove: true
  changed_when: false
  when: not coredns_deploy_skip_runtime | bool

- name: Run coredns pod
  ansible.builtin.set_fact:
    coredns_deploy_kubeplay_run: true
  changed_when: false
  when: not coredns_deploy_skip_runtime | bool

- name: Reload coredns
  ansible.builtin.set_fact:
    coredns_deploy_kubeplay_restart: true
  changed_when: false
  when: not coredns_deploy_skip_runtime | bool
