export AAP_FQDN="{{ aap_fqdn }}"
export AAP_ANSIBLE_HOST="{{ aap_local_execution_effective_ansible_host }}"
export AAP_SHORTNAME="{{ aap_local_execution_effective_shortname }}"
export AAP_INVENTORY_HOST="{{ aap_local_execution_effective_inventory_host }}"
export AAP_SETUP_USER="{{ aap_local_execution_effective_setup_user }}"
export AAP_BOOTSTRAP_USER="{{ aap_local_execution_effective_bootstrap_user }}"
export AAP_USER="{{ aap_local_execution_effective_user }}"
export AAP_INSTALL_USER="{{ aap_local_execution_effective_install_user }}"
export AAP_SECRET_BACKEND="{{ aap_local_execution_effective_secret_backend }}"
export AAP_ANSIBLE_BECOME_FLAGS="{{ aap_ansible_become_flags | default('', true) }}"
export AAP_SSH_KEY_AUTH_ENABLED={{ aap_ssh_key_auth_enabled | default(true) | bool | ternary('true', 'false') }}
export AAP_REMOTE_TMP_BOOTSTRAP_RAW={{ aap_remote_tmp_bootstrap_raw | default(true) | bool | ternary('true', 'false') }}

export MACHINE_A_APPL_ROOT="{{ aap_local_execution_machine_a_effective_appl_root }}"
export MACHINE_A_EXPORT_ROOT="{{ aap_local_execution_machine_a_effective_export_root }}"
export MACHINE_A_ENV_FILE="{{ aap_local_execution_machine_a_effective_env_file }}"
export MACHINE_A_SECRETS_DIR="{{ aap_local_execution_machine_a_effective_secrets_dir }}"
export MACHINE_A_BOOTSTRAP_KNOWN_HOSTS="{{ aap_local_execution_machine_a_effective_bootstrap_known_hosts }}"

export VAULT_ADDR="{{ vault_addr | default('', true) }}"
export VAULT_VALIDATE_CERTS={{ aap_local_execution_vault_validate_certs_effective | ternary('true', 'false') }}
export VAULT_SKIP_VERIFY={{ (not (aap_local_execution_vault_validate_certs_effective | bool)) | ternary('true', 'false') }}
export VAULT_TOKEN="${VAULT_TOKEN:-}"
export VAULT_ENGINE_MOUNT_POINT="{{ vault_engine_mount_point | default('', true) }}"
export AAP_VAULT_HOST_KEY="{{ aap_vault_host_key | default(aap_local_execution_effective_shortname, true) }}"
export AAP_VAULT_ADMIN_PASSWORDS_KV_PATH="{{ aap_vault_admin_passwords_kv_path | default((aap_vault_host_key | default(aap_local_execution_effective_shortname, true)) ~ '/aap/deploy/admin_passwords', true) }}"
export AAP_VAULT_DEFAULTS_KV_PATH="{{ aap_vault_defaults_kv_path | default((aap_vault_host_key | default(aap_local_execution_effective_shortname, true)) ~ '/aap/deploy/defaults', true) }}"

export AUTOMATION_REPO_URL="{{ aap_local_execution_automation_repo_url_effective }}"
export INVENTORY_NAME="{{ inventory_name | default('corp', true) }}"
export MODULIX_RUN_EE_IMAGE="{{ modulix_run_ee_image }}"
export MODULIX_RUN_EE_DIGEST="{{ aap_local_execution_modulix_run_ee_digest_effective }}"
export AAP_EE_TRANSFER_ENABLED={{ aap_local_execution_effective_ee_transfer_enabled | ternary('true', 'false') }}
export AAP_AUTOMATION_SOURCE_DIR="{{ aap_local_execution_automation_source_dir_effective }}"

export AAP_BUNDLE_FILENAME="{{ aap_bundle_filename | default('ansible-automation-platform-containerized-setup-bundle-2.7-1.2-x86_64.tar.gz', true) }}"
export AAP_BUNDLE_SHA256="{{ aap_bundle_sha256 | default('', true) }}"
export AAP_BUNDLE_MIN_SIZE_BYTES="{{ aap_bundle_min_size_bytes | default('100000000', true) }}"
export AAP_BUNDLE_URL="{{ aap_bundle_url | default('', true) }}"
export AAP_MANIFEST_FILENAME="{{ aap_manifest_filename | default('manifest.zip', true) }}"
export AAP_MANIFEST_SHA256="{{ aap_manifest_sha256 | default('', true) }}"
export AAP_MANIFEST_URL="{{ aap_manifest_url | default('', true) }}"

export AAP_APPL_ROOT="{{ aap_local_execution_effective_appl_root }}"
export AAP_ENV_FILE="{{ aap_local_execution_effective_env_file }}"
export AAP_SECRETS_DIR="{{ aap_local_execution_effective_secrets_dir }}"
export AAP_KNOWN_HOSTS_FILE="{{ aap_local_execution_effective_known_hosts_file }}"
export AAP_HOST_CA_TRUST_DIR="{{ aap_local_execution_host_ca_trust_dir_effective }}"
export AAP_REQUESTS_CA_BUNDLE="{{ aap_local_execution_requests_ca_bundle_effective }}"
export AUTOMATION_DIR="{{ aap_local_execution_effective_automation_dir }}"
export AUTOMATION_ANSIBLE_DIR="{{ aap_local_execution_effective_automation_ansible_dir }}"
