---
- name: Reload nginx
  ansible.builtin.command: "podman exec {{ nginx_deploy_container_name }} nginx -s reload"
  register: nginx_deploy_reload
  changed_when: nginx_deploy_reload.rc == 0
  failed_when: nginx_deploy_reload.rc != 0
  when: not nginx_deploy_skip_runtime | bool
