---
# Vault Pod Basis
vault_deploy_pod_name: "vault"
vault_deploy_pod_manifest_path: "/etc/podman/pods/vault.yml"
vault_deploy_data_dir: "/srv/vault/data"
vault_deploy_host_data_dir: "{{ vault_deploy_data_dir }}"
vault_deploy_cert_dir: "/srv/vault/certs"
vault_deploy_config_dir: "/srv/vault/config"
vault_deploy_image: "docker.io/hashicorp/vault:1.21"
vault_deploy_run_as_user: 100
vault_deploy_run_as_group: 1000
vault_deploy_run_as_non_root: true
vault_deploy_skip_setcap: true
vault_deploy_add_ipc_lock_cap: false
vault_deploy_container_name: "{{ vault_deploy_pod_name }}-vault"
vault_deploy_container_data_dir: "/vault/data"
vault_deploy_expected_uid: "{{ vault_deploy_run_as_user }}"
vault_deploy_expected_gid: "{{ vault_deploy_run_as_group }}"
vault_deploy_expected_mode: "0700"
vault_deploy_selinux_relabel: true

# Network
vault_deploy_port: 8200
vault_deploy_addr: "http://127.0.0.1:{{ vault_deploy_port }}"
vault_deploy_api_scheme: "https"
vault_deploy_api_url: >-
  {{
    vault_deploy_vault_address
    if (vault_deploy_vault_address | default('') | length > 0)
    else (vault_deploy_api_scheme ~ '://' ~ vault_deploy_host_ip ~ ':' ~ vault_deploy_port)
  }}
vault_deploy_health_url: "{{ vault_deploy_api_url }}/v1/sys/health"
vault_deploy_host_ip: >-
  {{
    ansible_default_ipv4.address
      | default(ansible_all_ipv4_addresses[0] | default('127.0.0.1'))
  }}

# Vault Hostname + PKI
vault_deploy_vault_hostname: "{{ vault_hostname | default(inventory_hostname, true) }}"
vault_deploy_vault_address: >-
  {{
    vault_url
    | default(g_vault_addr | default('', true), true)
  }}
vault_deploy_vault_validate_certs: "{{ vault_validate_certs | default(true) }}"
vault_deploy_api_delegate_to: "{{ vault_api_delegate_to | default('localhost') }}"
vault_deploy_engine_mount_point: "{{ vault_engine_mount_point | default('stage-2c') }}"
vault_deploy_hashi_vault_auth_method: "{{ vault_hashi_vault_auth_method | default('approle') }}"
vault_deploy_vault_pki_path: "pki-inter-ec-2025/issue"
vault_deploy_vault_pki_role: "limited_dns_2y"

# Ansible Vault handling
vault_deploy_ansible_vault_pw: "{{ vault_ansible_vault_pw | default('') }}"

# Auto-Unseal (optional)
vault_deploy_auto_unseal: false
vault_deploy_auto_unseal_method: "transit"
vault_deploy_auto_unseal_mount_path: "transit/"
vault_deploy_auto_unseal_key_name: "vault-unseal"
vault_deploy_auto_unseal_token: ""

# Init & Unseal
vault_deploy_project_root: "{{ lookup('env', 'PWD') | default('/runner/project', true) }}"
vault_deploy_inventory_root: >-
  {{
    (ansible_inventory_sources | default([]) | first | dirname)
      if (ansible_inventory_sources | default([]) | length) > 0
      else (
        (inventory_file | dirname)
          if inventory_file is defined and (inventory_file | length > 0)
          else (
            (inventory_dir | dirname)
              if inventory_dir is defined
                and (inventory_dir | basename) in ['inventory', 'inventory.yml', 'inventory.yaml']
              else (inventory_dir | default(vault_deploy_project_root, true))
          )
      )
  }}
vault_deploy_bootstrap_persist_dir: "/srv/vault/bootstrap"
vault_deploy_init_file_path: "{{ vault_deploy_bootstrap_persist_dir }}/vault-init.yml.vault"

# Systemd
vault_deploy_systemd_unit_name: >-
  {{
    'podman-kube@'
    ~ (vault_deploy_pod_manifest_path | basename | regex_replace('\\.yml$', ''))
    ~ '.service'
  }}
vault_deploy_manage_systemd: true
vault_deploy_skip_runtime: false
vault_deploy_skip_deploy: false
vault_deploy_skip_config: false
vault_deploy_pki_enabled: true
vault_deploy_wrapper_bootstrap: false
vault_deploy_wrapper_config: false
vault_deploy_wrapper_validate_pre: false
vault_deploy_wrapper_validate_post: false

# Configure vault
vault_deploy_terraformstate_baseurl: "https://gitlab.com/api/v4/projects/70576743/terraform/state"
vault_deploy_url: >-
  {{
    vault_url
    | default(vault_deploy_vault_address | default('', true), true)
  }}
vault_deploy_token: ""
vault_deploy_terraform_source: "{{ vault_terraform_source | default('') }}"
vault_deploy_terraform_state_path: >-
  {{
    vault_terraform_state_path
    | default('../../../../../../../tfstate/' ~ inventory_hostname ~ '-terraform.tfstate')
  }}
vault_deploy_secret_stores: "{{ vault_secret_stores | default([]) }}"
vault_deploy_policies: "{{ vault_policies | default([]) }}"
vault_deploy_approle_secrets: "{{ vault_approle_secrets | default([]) }}"
vault_deploy_approle_role_name: >-
  {{
    (vault_deploy_approle_secrets[0].role_name
      if (vault_deploy_approle_secrets | length > 0
          and vault_deploy_approle_secrets[0].role_name is defined)
      else ('ansible-' ~ inventory_hostname))
  }}
vault_deploy_approle_policy_name: >-
  {{
    (vault_deploy_approle_secrets[0].token_policy
      if (vault_deploy_approle_secrets | length > 0
          and vault_deploy_approle_secrets[0].token_policy is defined)
      else ('vault-pki-' ~ inventory_hostname))
  }}
vault_deploy_approle_token_ttl: ""
vault_deploy_approle_token_max_ttl: ""
vault_deploy_approle_bootstrap: true
vault_deploy_approle_primary_role_name: "{{ vault_approle_primary_role_name | default('') }}"
vault_deploy_vault_pki_roots: "{{ vault_pki_roots | default([]) }}"
vault_deploy_vault_pki_intermediates: "{{ vault_pki_intermediates | default([]) }}"
vault_deploy_vault_pki_roles: "{{ vault_pki_roles | default([]) }}"

# Bootstrap
vault_deploy_bootstrap_init: false
vault_deploy_bootstrap_auto_init: true
vault_deploy_bootstrap_key_shares: 5
vault_deploy_bootstrap_key_threshold: 3
vault_deploy_bootstrap_write_init_output: true
vault_deploy_unseal_keys: []

# Config

# Validate
vault_deploy_validate_mode: "fail"

# Backup/Restore
vault_deploy_backup_action: "none"
vault_deploy_backup_dir: "/srv/vault/backups"
vault_deploy_backup_retention_keep_last: 14
vault_deploy_backup_stop_service_for_file_backend: true
vault_deploy_restore_source: ""
vault_deploy_restore_confirm: ""
vault_deploy_backup_validate_after_restore: true
