---
vault_terraformstate_baseurl: >-
  https://gitlab.com/api/v4/projects/70576743/terraform/state
vault_url: ""
vault_token: ""
vault_terraform_source: ""
vault_secret_stores: []
vault_policies: []
vault_approle_secrets: []
vault_vault_pki_roots: []
vault_vault_pki_intermediates: []
vault_vault_pki_roles: []
vault_terragrunt_template: ../vault/templates/vault.hcl.j2
vault_skip_terragrunt: false
