---
- name: Validate role variables
  ansible.builtin.include_tasks: validate.yml

- name: Prepare Terragrunt working directory
  ansible.builtin.include_tasks: prepare_tg_dir.yml

- name: Render Terragrunt configuration
  ansible.builtin.include_tasks: render_tg.yml

- name: Apply Terragrunt configuration for keycloak
  ansible.builtin.include_tasks: terragrunt_apply.yml
  when: not keycloak_config_skip_apply
