---
- name: Recreate nginx pod
  ansible.builtin.set_fact:
    nginx_deploy_kubeplay_remove: true
  changed_when: false
  when: not nginx_deploy_skip_runtime | bool

- name: Run nginx pod
  ansible.builtin.set_fact:
    nginx_deploy_kubeplay_run: true
  changed_when: false
  when: not nginx_deploy_skip_runtime | bool

- name: Reload nginx
  ansible.builtin.set_fact:
    nginx_reload_requested: true
  changed_when: false
  when: not nginx_deploy_skip_runtime | bool
