---
- name: Install EPEL for RHEL
  ansible.builtin.yum:
    name: "{{ openvpn_epel_package_name }}"
    state: present
    disable_gpg_check: true
  when:
    - ansible_distribution == "RedHat"
    - ansible_distribution_major_version == "8"

- name: Enable extra repos for RHEL 8
  community.general.rhsm_repository:
    name: >-
      codeready-builder-for-rhel-8-{{ ansible_architecture }}-rpms
    state: enabled
  when:
    - ansible_distribution == "RedHat"
    - ansible_distribution_major_version == "8"

- name: Install openvpn
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
    - "{{ openvpn_package_name }}"
    - "{{ openvpn_openssl_package_name }}"
