---
- name: Install EPEL for RHEL
  ansible.builtin.yum:
    name: "{{ openvpn_epel_package_name }}"
    state: present
    disable_gpg_check: true
  when:
    - ansible_distribution == "RedHat"
    - ansible_distribution_major_version == "8"

- name: Enable extra repos for RHEL 8
  ansible.builtin.command: >-
    subscription-manager repos
    --enable=codeready-builder-for-rhel-8-{{ ansible_architecture }}-rpms
  register: openvpn_enable_repo
  changed_when: "'Enabled' in openvpn_enable_repo.stdout"
  failed_when: openvpn_enable_repo.rc not in [0, 70]
  when:
    - ansible_distribution == "RedHat"
    - ansible_distribution_major_version == "8"

- name: Install openvpn
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
    - "{{ openvpn_package_name }}"
    - "{{ openvpn_openssl_package_name }}"
